doctype html
html
  head
    title= title
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Shadows+Into+Light')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
